aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
ci-info
click
colorama
configobj
configparser
cryptography
dataclasses-json
distro
etelemetry
exceptiongroup
faiss-cpu
filelock
frozenlist
gitdb
GitPython
greenlet
h11
httpcore
httplib2
httpx
idna
isodate
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
loguru
looseversion
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
networkx
nibabel
nipype
numpy
openai
orjson
packaging
pandas
pathlib
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==10.3.0
plum-dispatch==1.7.4
protobuf==4.25.3
prov==2.0.0
pyarrow==15.0.2
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
pydeck
pydot
Pygments
PyJWT
PyMuPDF==1.24.5
PyMuPDFb==1.24.3
pyparsing==3.1.2
pypdf==4.2.0
pypdfium2==4.30.0
python-dateutil
pytz
pyxnat
PyYAML
rdflib
referencing
regex
reportlab
requests
rich
rpds-py
scipy
simplejson
six
smmap
sniffio
Spire.Pdf
SQLAlchemy
streamlit
streamlit-pdf-viewer
tenacity
tiktoken
toml
toolz
tornado
tqdm
traits
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
win32-setctime
yarl
zhipu
zhipuai
